# Local database
DATABASE_URL=mysql+aiomysql://root@127.0.0.1:3306/ipbb

# Test database
TEST_DATABASE_URL=sqlite+aiosqlite:///./test.db

# Secret keys
ACCESS_SECRET_KEY=d1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2
REFRESH_SECRET_KEY=a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2
RESET_PASSWORD_SECRET_KEY=b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2
VERIFICATION_SECRET_KEY=c1d2e3f4a5b6c7d8e9f0a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2

# OpenAPI genrated file output path
OPENAPI_OUTPUT_FILE=../nextjs-frontend/openapi.json

# Localhost Email configuration
MAIL_USERNAME=test
MAIL_PASSWORD=test
MAIL_FROM=test@test.com
MAIL_PORT=1025
MAIL_SERVER=localhost
MAIL_STARTTLS=False
MAIL_SSL_TLS=False
USE_CREDENTIALS=False

# Frontend (NextJS)
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:8000

# CORS (Allow all origins for development; adjust this to restrict origins in production deployments)
CORS_ORIGINS=["*"]

# OPENAPI (Uncomment the line below to disable the /docs and openapi.json urls)
# OPENAPI_URL=""

# GOOGLE
GOOGLE_CLIENT_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
